In [1]:
%matplotlib inline
import pandas as pd

In [2]:
cast = pd.read_csv('C:/Users/abhis/OneDrive/Desktop/Datasets/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [3]:
total=cast.shape
total_mov=total[0]

In [4]:
print("Total number of movies listed in the titles dataframe=",total_mov)

Total number of movies listed in the titles dataframe= 3611212

### What are the earliest two films listed in the titles dataframe?

In [47]:
stdata=cast.sort_values(by='year',ascending=True)
earl=stdata["year"].unique()[:2]
yr=stdata.set_index('year')
mov_lst=yr.loc[earl]["title"].unique()

In [49]:
print(f"The earliest two films listed in the dataframe are '{mov_lst[0]}' and '{mov_lst[1]}'")

The earliest two films listed in the dataframe are 'Miss Jerry' and 'Soldiers of the Cross'

### How many movies have the title "Hamlet"?

In [7]:
ham=cast.set_index('title')
ham.loc['Hamlet']

        year              name     type              character     n
title
Hamlet  1996        Riz Abbasi    actor  Attendant to Claudius   1.0
Hamlet  1921  Fritz Achterberg    actor            Fortinbras,   9.0
Hamlet  2009      Hayden Adams    actor                Laertes   7.0
Hamlet  2009      Hayden Adams    actor                 Player   7.0
Hamlet  1913       Eric Adeney    actor               Reynaldo  14.0
...      ...               ...      ...                    ...   ...
Hamlet  1969    Jennifer Tudor  actress             Court lady  23.0
Hamlet  2000      Diane Venora  actress               Gertrude   3.0
Hamlet  1996     Perdita Weeks  actress          Second Player  44.0
Hamlet  2015   Katie (II) West  actress                Ophelia   7.0
Hamlet  1996      Kate Winslet  actress                Ophelia  46.0

[313 rows x 5 columns]

In [8]:
count=ham.loc['Hamlet'].shape[0]
print("There are",count," movies with the title 'Hamlet'")

There are 313  movies with the title 'Hamlet'

### How many movies are titled "North by Northwest"?

In [9]:
nbn=cast.set_index('title')
count1=nbn.loc['North by Northwest'].shape[0]

In [10]:
print("There are",count1," movies with the title 'North by Northwest'")

There are 112  movies with the title 'North by Northwest'

### When was the first movie titled "Hamlet" made?

In [11]:
ham=cast.set_index("title")
count=ham.loc['Hamlet']
lst=count.sort_values(by='year',ascending=True)
print(lst)
year=lst['year'][0]

        year               name     type        character     n
title
Hamlet  1910  Jean Mounet-Sully    actor           Hamlet   NaN
Hamlet  1911    Oscar Langkilde    actor          Horatio   6.0
Hamlet  1911   Einar Zangenberg    actor          Laertes   5.0
Hamlet  1911       Ella La Cour  actress         Gertrude   3.0
Hamlet  1911         Alwin Neu?    actor           Hamlet   1.0
...      ...                ...      ...              ...   ...
Hamlet  2015       Maxine Peake  actress           Hamlet   1.0
Hamlet  2015        Jodie McNee  actress      Rosencrantz  10.0
Hamlet  2015        Jodie McNee  actress  2nd Gravedigger  10.0
Hamlet  2015   Ashley Zhangazha    actor          Laertes   6.0
Hamlet  2015  Michelle Butterly  actress         Margaret  11.0

[313 rows x 5 columns]

In [12]:
print("The first movie name 'Hamlet' was made in", year)

The first movie name 'Hamlet' was made in 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [13]:
ti=cast.set_index("title")
lst=ti.loc['Treasure Island'].sort_values(by="year", ascending=True)
lst

,year,name,type,character,n
title,,,,,
Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
...,...,...,...,...,...
Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
Treasure Island,1999,Bob Byington,actor,Thomas,12.0

### How many movies were made in the year 1950?

In [14]:
ind=cast.set_index('year')
lst=ind.loc[1950].shape[0]

In [15]:
print( lst,"movies were made in the year 1950")

22006 movies were made in the year 1950

### How many movies were made in the year 1960?

In [16]:
ind=cast.set_index('year')
lst=ind.loc[1960].shape[0]

In [17]:
print( lst,"movies were made in the year 1960")

18456 movies were made in the year 1960

### How many movies were made from 1950 through 1959?

In [18]:
yrlst=[x for x in range(1950,1959)]
mov_count=cast.set_index('year').loc[yrlst].shape
count=mov_count[0]
count

192289

In [19]:
print(count,"movies were made from 1950 through 1959")

192289 movies were made from 1950 through 1959

### In what years has a movie titled "Batman" been released?

In [20]:
bat=cast.set_index("title")
batman=bat.loc['Batman']['year'].unique()

In [21]:
print("Batman has been released in",batman,"years")

Batman has been released in [1943 1989] years

### How many roles were there in the movie "Inception"?

In [22]:
tit=cast.set_index("title")
inc=tit.loc['Inception']["year"].shape[0]
inc

77

In [23]:
print("Total no of roles in the movie 'Inception' is",inc)

Total no of roles in the movie 'Inception' is 77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [24]:
tit=cast.set_index("title")
nranked=tit.loc["Inception"]['n'].isnull().sum()
nranked

26

In [25]:
print(f"Total number of roles in the movie 'Inception' not ranked by an 'n' value is {nranked}")

Total number of roles in the movie 'Inception' not ranked by an 'n' value is 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [26]:
tit=cast.set_index("title")
ranked=tit.loc["Inception"]['n'].notnull().sum()
ranked

51

In [27]:
print(f"Total number of roles in the movie 'Inception' ranked by an 'n' value is {ranked}")

Total number of roles in the movie 'Inception' ranked by an 'n' value is 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [28]:
role=tit.loc["North by Northwest"].sort_values(by="n",ascending= True)
roles=role.loc[role["n"].notnull()]
roles

,year,name,type,character,n
title,,,,,
North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
North by Northwest,1959,Martin Landau,actor,Leonard,8.0
North by Northwest,1959,Adam Williams,actor,Valerian,9.0
North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [29]:
film=tit.loc["Sleuth"]
n=film.loc[film["year"]==1972].sort_values(by="n", ascending= False).head(1)

In [30]:
n

        year          name   type               character    n
title
Sleuth  1972  Teddy Martin  actor  Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [31]:
film=tit.loc["Sleuth"]
n=film.loc[film["year"]==2007].sort_values(by="n", ascending= False).head(1)

In [32]:
n

        year           name   type    character    n
title
Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [33]:
film=tit.loc["Hamlet"]
role_count=film.loc[film["year"]==1921].shape[0]
role_count

9

In [34]:
print(f"Total {role_count} roles were credited in the silent 1921 version of Hamlet")

Total 9 roles were credited in the silent 1921 version of Hamlet

### How many roles were credited in Branagh’s 1996 Hamlet?

In [35]:
film=tit.loc["Hamlet"]
role_count=film.loc[film["year"]==1996].shape[0]
role_count

54

In [36]:
print(f"Total {role_count} roles were credited in the Branagh's 1996 version of Hamlet")

Total 54 roles were credited in the Branagh's 1996 version of Hamlet

### How many "Hamlet" roles have been listed in all film credits through history?

In [37]:
role=tit.loc["Hamlet"].shape[0]

In [38]:
print(role," roles have been listed in all film credits through history")

313  roles have been listed in all film credits through history

### How many people have played an "Ophelia"?

In [39]:
person=tit.loc["Ophelia"].shape[0]

In [40]:
print(person,"people have played an 'Ophelia'")

2 people have played an 'Ophelia'

### How many people have played a role called "The Dude"?

In [41]:
ch=cast.set_index('character')
per=ch.loc["The Dude"].shape[0]

In [42]:
print(per,"people have played a role called'The Dude'")

18 people have played a role called'The Dude'

### How many people have played a role called "The Stranger"?

In [43]:
per=ch.loc["The Stranger"].shape[0]

In [44]:
print(per,"people have played a role called'The Stranger'")

208 people have played a role called'The Stranger'

### How many roles has Sidney Poitier played throughout his career?

In [50]:
nam=cast.set_index('name')
mov_cnt=nam.loc['Sidney Poitier'].shape[0]

In [51]:
print(f"Total  number of roles Sidney Poitier played throughout his career is {mov_cnt}")

Total  number of roles Sidney Poitier played throughout his career is 43

### How many roles has Judi Dench played?

In [52]:
nam=cast.set_index('name')
mov_cnt=nam.loc['Judi Dench'].shape[0]

In [53]:
print(f"Total  number of roles Judi Dench played throughout his career is {mov_cnt}")

Total  number of roles Judi Dench played throughout his career is 55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [54]:
ind=cast.set_index(["name", "year", "n"])
yr_lst=[x for x in range(1940,1950)]
new=ind.loc["Cary Grant",yr_lst,2].sort_index(ascending=True).reset_index()

In [55]:
new

         name  year    n             title   type    character
0  Cary Grant  1940  2.0  My Favorite Wife  actor         Nick
1  Cary Grant  1941  2.0    Penny Serenade  actor  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [56]:
ind=cast.set_index(["name", "year", "n"])
yr_lst=[x for x in range(1940,1950)]
new=ind.loc["Cary Grant",yr_lst,1].sort_index(ascending=True).reset_index()

In [57]:
new

,name,year,n,title,type,character
0,Cary Grant,1940,1.0,His Girl Friday,actor,Walter Burns
1,Cary Grant,1940,1.0,The Howards of Virginia,actor,Matt Howard
2,Cary Grant,1940,1.0,The Philadelphia Story,actor,C. K. Dexter Haven
3,Cary Grant,1941,1.0,Suspicion,actor,Johnnie
4,Cary Grant,1942,1.0,Once Upon a Honeymoon,actor,Patrick 'Pat' O'Toole
5,Cary Grant,1942,1.0,The Talk of the Town,actor,Leopold Dilg
6,Cary Grant,1943,1.0,Destination Tokyo,actor,Capt. Cassidy
7,Cary Grant,1943,1.0,Mr. Lucky,actor,Joe Adams
8,Cary Grant,1943,1.0,Mr. Lucky,actor,Joe Bascopolous
9,Cary Grant,1944,1.0,Arsenic and Old Lace,actor,Mortimer Brewster
10,Cary Grant,1944,1.0,None But the Lonely Heart,actor,Ernie Mott
11,Cary Grant,1944,1.0,Once Upon a Time,actor,Jerry Flynn
12,Cary Grant,1946,1.0,Night and Day,actor,Cole Porter
13,Cary Grant,1946,1.0,Notorious,actor,Devlin
14,Cary Grant,1947,1.0,The Bachelor and the Bobby-Soxer,actor,Dick Nugent
15,Cary Grant,1947,1.0,The Bishop's Wife,actor,Dudley
16,Cary Grant,1948,1.0,Every Girl Should Be Married,actor,Dr. Madison Brown
17,Cary Grant,1948,1.0,Mr. Blandings Builds His Dream House,actor,Jim Blandings
18,Cary Grant,1949,1.0,I Was a Male War Bride,actor,Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [60]:
yr=cast.set_index("year")
yr_lst=[x for x in range(1950, 1960)]
lst=yr.loc[yr_lst]
count=lst.loc[lst["type"]=="actor"].shape[0]

In [61]:
print(f'Total number of roles available for actors in 1950s is {count}')

Total number of roles available for actors in 1950s is 154727

### How many roles were available for actresses in the 1950s?

In [63]:
yr=cast.set_index("year")
yr_lst=[x for x in range(1950, 1960)]
lst=yr.loc[yr_lst]
count=lst.loc[lst["type"]=="actress"].shape[0]

In [64]:
print(f'Total number of roles available for actress in 1950s is {count}')

Total number of roles available for actress in 1950s is 56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [77]:
lead=cast.set_index('n')
lst=lead.loc[1]
fin_lst=lst[lst["year"]<1980].shape[0]

In [78]:
print(f'{fin_lst} leading roles were available from the begginning of film history through 1980')

62781 leading roles were available from the begginning of film history through 1980

### How many non-leading roles were available through from the beginning of film history through 1980?

In [82]:
lst=cast.loc[cast["n"]!=1]
fin_lst=lst[lst["year"]<1980].shape[0]

1073132

In [83]:
print(f'{fin_lst} non-leading roles were available from the begginning of film history through 1980')

1073132 non-leading roles were available from the begginning of film history through 1980

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [87]:
count=cast.loc[(cast["n"].isnull()) & (cast['year']<1980)].shape[0]

In [88]:
print(f'{count} roles through 1980 were minor enough that they did not warrant a numeric "n" rank')

433859 roles through 1980 were minor enough that they did not warrant a numeric "n" rank